#tab-stats {
  margin: 20px;
  border-radius: 5px;
  border: 2px solid #EEEEEE;
  padding: 10px;
}
#content-container {
  margin: 20px;
}
.trade-up-type-checkbox {
  margin-left: 20px;
}
.entry {
  margin-bottom: 20px;
  border-radius: 5px;
  border: 2px solid #EEEEEE;
  background-color: #2e3238;
  overflow: hidden;
}
.entry-header {
  margin-top: 15px;
  margin-left: 15px;
  font-size: 18px;
}
.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card {
  padding: 5px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
  background-color: #393E46;
}
.card-color {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 7px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.given-item {
  display: flex;
  align-items: center;
  gap: 10px;
  width: 200px;
}
.given-item img {
  width: 100px;
  height: auto;
}
.taken-item {
  width: 150px;
}
.taken-items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 20px;
}
.card-image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  border: 1px solid #EEEEEE;
  margin-top: 6px;
}
.taken-item img {
  width: 120px;
  height: auto;
}
.item-separator {
  width: 90%;
  height: 1px;
  background-color: #EEEEEE;  
}
.stickers-section {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 5px;
}
.sticker-image {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  max-width: 35px;
  max-height: 35px;
}
.generate-button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: transparent;
  color: #EEEEEE;
  border: none;
  border-radius: 5px;
  position: relative;
}

.generate-button:hover {
  background-color: #4a4f57;
}

.generate-button .arrow-icon {
  margin-top: 5px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #EEEEEE;
  transition: transform 0.3s ease;
}

.generate-button.active .arrow-icon {
  transform: rotate(180deg);
}
.new-content {
  max-height: 0;
  overflow: hidden;
  padding: 0 10px;
  background-color: #393E46;
  transition: max-height 1s ease, padding 1s ease;
}
.new-content.show {
  max-height: none;
  padding: 10px;
}
.output-items-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin: 20px;
}

.output-item {
  width: 150px;
}

.output-item img {
  width: 120px;
  height: auto;
}