.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
}

.item-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 12px;
  background-color: #393E46;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

.item-card::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 7px;
  background-color: var(--item-color);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.item-card img {
  width: 100px;
  height: auto;
  margin-bottom: 8px;
}

