body {
  background-color: #191D24;
  color: #EEEEEE;
  margin: 0;
  padding: 20px;
  font-family: Arial, sans-serif;
}

#stopScraping {
  display: none;
}

#tab-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

#tab-container > * {
  margin: 0;
}

#tab-container button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #393e46;
  color: #eeeeee;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#tab-container button:hover {
  background-color: #4a4f57;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #393e46;
  color: #eeeeee;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dropdown-button::after {
  content: "\25BC";
  margin-left: 5px;
}

.dropdown-button:hover {
  background-color: #4a4f57;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #393e46;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 2;
  border-radius: 5px;
}

.dropdown-content button {
  display: block;
  width: 100%;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #393e46;
  color: #eeeeee;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: left;
}

.dropdown-content button:hover {
  background-color: #4a4f57;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: #393e46;
  border-radius: 5px;
  margin-bottom: 20px;
}

.header-left {
  display: inline-flex;
  align-items: center;
  gap: 20px;
}

.header-left h1 {
  margin: 0;
  font-size: 35px;
}

.input-options {
  display: flex;
  align-items: center;
  gap: 20px;
}

.inline-form {
  display: flex;
  align-items: center;
}

.inline-form label {
  margin-right: 10px;
}

.inline-form input[type="text"] {
  padding: 5px 10px;
  margin-right: 10px;
  border: none;
  border-radius: 3px;
}

.inline-form button {
  padding: 5px 10px;
  background-color: #00adb5;
  font-weight: bold;
  color: #eeeeee;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.inline-form button:hover {
  background-color: #00c2cb;
}

.or-divider {
  font-weight: bold;
  color: #00adb5;
}

.file-selector-container {
  display: flex;
  align-items: center;
}

#file-selector {
  padding: 5px 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.header-right {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}

#userId {
  font-weight: bold;
}

#avatarImg img {
  max-width: 64px;
  max-height: 64px;
  border-radius: 50%;
}
.hero-section {
  width: 100%;
  background-color: #4a4f57;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
}

.hero-content {
  max-width: 800px;
}

.hero-content h1 {
  font-size: 48px;
  margin-bottom: 10px;
}

.hero-content p {
  font-size: 24px;
  margin-bottom: 30px;
}
.name {
  font-size: 48px;
}
.demo-button {
  display: inline-block;
  padding: 15px 30px;
  background-color: #00adb5;
  color: white;
  text-decoration: none;
  border-radius: 5px;
  font-size: 18px;
  margin-bottom: 20px;
  transition: background-color 0.3s;
}

.demo-button:hover {
  background-color: #00c2cb;
}